MONGODB_URI="mongodb+srv://username:sometext@something.else.mongodb.net/bloglist?retryWrites=true&w=majority&appName=yoappname";
TEST_MONGODB_URI="mongodb+srv://username:sometext@something.else.mongodb.net/bloglist?retryWrites=true&w=majority&appName=yoappname";
PORT=YO_PORT
SECRET=ANY_WORD